{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="main-container">
        <div class="cart-container">
            <div class="header-row">
                <div class="logo"><h2>Logo</h2></div>
                <div class="nav-btns"><button class="btn btn-info">A Button</button></div>
            </div>
            <div class="nav-row">
                <div class="nav-row-left">
                    <a href="#cartSlider" role="button" data-slide="prev">
                        Prev
                      </a>
                      <a href="#cartSlider" role="button" data-slide="next">
                        Next
                      </a>
                </div>
                <div class="nav-row-right">
                    <a href="#">Link3</a>
                    <a href="#">Link4</a>
                    <a href="#">Link5</a>
                </div>
            </div>
            <!-- Cart body and overlap -->
            <div class="cart-content">
                <div id="cartSlider" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <!-- Item One -->
                        <div class="carousel-item active">
                            <div class="cart-body">
                                <div class="cart-body-sidebar">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">This is a primary list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">This is a secondary list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-success">This is a success list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">This is a danger list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">This is a warning list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-info">This is a info list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-light">This is a light list group item</a>
                                        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">This is a dark list group item</a>
                                        </div>
                                </div>
                                <div class="cart-body-main">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            </tr>
                                            <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            </tr>
                                            <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                        
                                        <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">First</th>
                                            <th scope="col">Last</th>
                                            <th scope="col">Handle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <th scope="row">1</th>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                            </tr>
                                            <tr>
                                            <th scope="row">2</th>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                            </tr>
                                            <tr>
                                            <th scope="row">3</th>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Item2 -->
                        <div class="carousel-item">
                            <div class="cart-form">
                                <form>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label for="inputPassword4">Password</label>
                                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="inputAddress">Address</label>
                                      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                    </div>
                                    <div class="form-group">
                                      <label for="inputAddress2">Address 2</label>
                                      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                    </div>
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                        <label for="inputCity">City</label>
                                        <input type="text" class="form-control" id="inputCity">
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label for="inputState">State</label>
                                        <select id="inputState" class="form-control">
                                          <option selected>Choose...</option>
                                          <option>...</option>
                                        </select>
                                      </div>
                                      <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input type="text" class="form-control" id="inputZip">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" for="gridCheck">
                                          Check me out
                                        </label>
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Sign in</button>
                                  </form>
                            </div>
                        </div>
                        <!-- Item 3 -->
                        <div class="carousel-item">
                            <div class="cart-body-overlap">
                                <div class="jumbotron">
                                    <h1 class="display-4">Hello, world!</h1>
                                    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                                    <hr class="my-4">
                                    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                                    <p class="lead">
                                      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-footer">
                <div class="footer-right">
                    <strong>Total</strong> $1 million
                </div>
                <div class="footer-right">
                    <div class="text-muted">Copyright 1996</div>
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}
