{% extends 'base.html.twig' %}

{% block title %}Add Products{% endblock %}

{% block body %}
    Added {{ count }} products to DB:
    <br>
    <ul>
        {% for product in products %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
{% endblock %}
